@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
}
.media{  /* my github and linkedin icons */
    position: absolute;
    top: 38%;
    z-index: 1;
    right: 2.1%;
}
.media ul li{
    opacity: 0;
    padding: 12px 0;
    animation: fade-away 1.3s 3s forwards ease-in-out;
}

@keyframes fade-away{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(-15px);
    }
}

.fab, .far{
    color: grey;
    font-size: 1.3rem;
}
.fab:hover, .far:hover{
    color: rgb(163, 163, 163);
}
.background-container{
    height: 100vh;
    position: relative;
}

.contrast{ /*used for contrast */
    position: absolute;
    background: black;
    width: 100%;
    bottom: 0%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    z-index: 1;
    animation: scale 1s forwards ease-in-out;
}

@keyframes scale{
    0%{
        opacity: .9;
        height: 0%;
    }
    100%{
        opacity: 0.3;
        height: 100%;
    }
}
.background{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.background-container h1{
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    color: white;
    z-index: 2;
    font-weight: bold;
    text-transform: capitalize;
    bottom: -80px;
    left: 50%; /* originally 30%*/
    font-size: 3.2rem;
    transform: translate(-50%, -100%);
    animation: title-move 1.5s ease-in-out forwards;
}

@keyframes title-move{
    0%{
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    75%{
        opacity: .8;
        transform: translate(-50%, -750%);
    }
    100%{
        transform: translate(-50%, -750%);
        font-size: 2.2em;
    }
}

/* maybe one day I will use this */
/* .background-container h1::before{
    position: absolute;
    content: '';
    display: inline-block;
    height: 4px;
    width: 80px;
    background: white;
    top: 0;
}

.background-container h1::after{
    position: absolute;
    content: '';
    display: inline-block;
    height: 4px;
    width: 80px;
    background: white;
    top: 0;
} */


.ring img{
    width: 1200px;  /*controlling the size of the circle */
    z-index: 2;
}

.ring{
    position: absolute;
    top: 5%;
    left: 11%;
    opacity: 0;
    z-index: 1;
    animation: move 2.5s 1s ease-in-out forwards; /* originially 2.5s 2s */
}

.ring1 img{
    animation: rotater 3s linear infinite;
}

.ring2 img{
    animation: rotater 8s linear infinite;
}

button{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

@keyframes rotater {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes move{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: .8;
        transform: translateY(-10px);
    }
    /* 100%{
        opacity: .8;
        transform: translate(40%, -35%);
    } */
}

