*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-container{
    height: 100vh;
    position: relative;
}

.background-container::after{
    content: '';
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.4;
}
.background{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ring img{
    width: 80%;

}

.ring{
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.ring1 img{
    animation-name: rotater;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.ring2 img{
    animation-name: rotater;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

button{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
@keyframes rotater {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}