 .section-heading{
    font-size: 1.5rem;
    text-align: center;
}
.section-heading h1{
    position: relative;
}
.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background: red;
}

.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}
.timeline ul{
    border-left: 4px solid red;
    border-radius: .8rem;
    background-color: lightblue;
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style-type: none;
    text-align: left;
    width: 70%;

}

.container2{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.timeline .date{
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before, 
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(date-date);
    min-width: 12rem;
    font-size: 1.5rem;
    text-align: right;
    color: black;
}

.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #fd57bf;
    border-radius: 100%;
    left: -7.8rem;
    height: 1rem;
    width: 1rem;
    background-color: #313534;

} 

